# DeepSeek API
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxx

# 华为云 MaaS (Embedding + Reranker)
HUAWEI_API_KEY=xxxxxxxxxxxxxxxx

# Tavily Search
TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxx

# 知识库目录
KB_DATA_DIR=D:\Project\Self-RAG-Agent\data\raw
